@model List<Workbounty.Models.TeamInformation>
@{
    ViewBag.Title = "TeamDetail";
    Layout = "~/Views/_DashboardLayout.cshtml";
}
<script src="~/assets/js/getTeamDetail.js"></script>
<div class="widget-box transparent" id="recent-box">
    <div class="widget-header">
      <div class="col-xs-10">
            <h4 class="widget-title lighter smaller"></h4>

            @foreach (var item in Model)
            {


                <input type="hidden" value="@item.TeamUserInfoID" id="TeamInfoID" />
                <table id="simple-table" class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>Member</th>
                            <th>Email</th>
                            <th>Contact No</th>
                            <th>Action</th>
                        </tr>
                        @foreach (var user in item.TeamUserList)
                        {
                            <tr>
                                <td>@Html.DisplayFor(s => user.FirstName)</td>
                                <td>@Html.DisplayFor(s => user.Email)</td>
                                <td>@Html.DisplayFor(s => user.PhoneNumber)</td>
                                <td><input type="button" id="@user.UserID" value="Delete Member" data-teamuserid="@user.TeamUserInfoID" onclick="removeMember(this);" class="btn btn-minier btn-purple"></td>
                            </tr>
                        }

                    </tbody>

                </table>
            }
        </div>
        <div class="col-xs-10">

        </div>
    </div>
</div>
