@model List<Workbounty.Models.TeamInformation>
@{
    ViewBag.Title = "ViewTeams";
    Layout = "~/Views/_DashboardLayout.cshtml";
    var TeamName = "";
}
<ul class="breadcrumb">
    <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="~/home/dashboard">Dashboard</a>
    </li>
    <li class="active">My Teams</li>
</ul>

<div class="widget-box transparent" id="recent-box">
    <div class="widget-header">
        <div class="col-xs-10">
            <h4 class="widget-title lighter smaller">
                Team |
                @Html.ActionLink("Add Team", "addteam", "Team")
            </h4>

            @foreach (var item in Model)
            {
                foreach (var user in item.TeamUserList)
                {
                    if (TeamName != user.TeamName)
                    {
                      
                        <h4 id="Teamname">@Html.ActionLink(user.TeamName, "AddMember", "Team", new { TeamName = user.TeamName, data_toggle = "tooltip", title = "Get Team details" }, null)  </h4>
                        TeamName = user.TeamName;
                    }
                }
                <table id="simple-table" class="table table-striped table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>Member</th>
                            <th>Email</th>
                            <th>Contact No</th>
                        </tr>
                        @foreach (var user in item.TeamUserList)
                        {
                            <tr>
                                <td>@Html.DisplayFor(s => user.FirstName)</td>
                                <td>@Html.DisplayFor(s => user.Email)</td>
                                <td>@Html.DisplayFor(s => user.PhoneNumber)</td>
                            </tr>
                        }

                    </tbody>

                </table>
            }
        </div>
        <div class="col-xs-10">
            
        </div>
    </div>
</div>
